h2 Edit Post 
	span.postid= post.id

form(method="post", action="/Admin/Post")
	input(type="hidden", name="id", value=post.id)
	h3 ID 
		input(type="text", name="sid", value=post.sid)
	h3 Title
	input(type="text", name="title", style="width: 100%;", value=post.title)
	h4 Image Large
	input(type="text", name="img_lg", style="width: 50%;", value=post.img_lg)
	h4 Image Small
	input(type="text", name="img_sm", style="width: 50%;", value=post.img_sm)
	h3 Content
	textarea(name="short", style="width: 100%; height: 5em;")= post.short
	textarea(name="content", style="width: 100%; height: 20em;")= post.content
	span.i All content is in jade format
	h4 Link to external content
	input(type="text", name="ext_link", style="width: 100%;", value=post.ext_link)
	br
	input(type="submit", value="Save")