extends layout

block content
        
    .row 
        .span8 
            h2 Blog
                
            - if(posts && posts.length > 0){
                - posts.forEach(function(item){
                    .blogMini
                        h3
                            - if(item.ext_link != ""){
                                a(href=item.ext_link) #{item.title}
                            - }else{
                                a(href="/Blog/#{item.sid}/#{item.link_title}") #{item.title}
                            - }
                        h5 Posted on 
                            time(datetime=item.posted) #{item.posted_human}    
                            
                        - if(item.img_sm != '')
                            div.tc: img(src=item.img_sm)
                        
                        !=item.short
                        
                        - if(item.ext_link != ""){
                            p.tr.small: a(href="/Blog/#{item.sid}/#{item.link_title}") Permalink
                        - }else{
                            p.tr: a(href="/Blog/#{item.sid}/#{item.link_title}") Read More 
                                i.icon-chevron-right
                                i.icon-chevron-right
                        - }
                        
                - })
                
                ul.pager
                    - if(prevpage){
                        li.previous
                            a(href="/Blog/#{prevpage}") &laquo; Previous
                    - }else{
                        li.previous.disabled
                            a(href="#") &laquo; Previous
                    - }
                    
                    - if(nextpage){
                        li.next
                            a(href="/Blog/#{nextpage}") Next &raquo;
                    - }else{
                        li.next.disabled
                            a(href="#") Next &raquo;
                    - }
                
            - }else{
            em No posts could be found.
            - }
    
        .span3
            h3 Archive
            
            ul#archiveSidebar
                - if(months && months.length > 0){
                    - months.forEach(function(item){
                        li 
                            span.badge #{item.value.count}
                            a(href="/Blog/#{item.value.year}/#{item.value.month}") #{item.value.year} - #{month_names[item.value.month]}
                            | 
                    - });
                - }