h2 Blog

- posts.forEach(function(item){
	.blogMini
		h3
			a(href="/Blog/#{item.sid}/#{item.link_title}") #{item.title}
		h5 Posted on 
			time(datetime=item.posted) #{item.posted_human}		
		div.tc: img(src=item.img_sm)
		
		!=item.short
		
		p.tr: a(href="/Blog/#{item.sid}/#{item.link_title}") Read More…
- })