extends layout

block content

    .blogPost
        
        h2 
            a(href="/Blog/#{post.sid}/#{post.link_title}") #{post.title}
        h5 Posted on 
            time(datetime=post.posted) #{post.posted_human}
        
        - if(post.img_s3 && post.img_s3 != '')
            #topImage.tc: img(src="//s3.amazonaws.com/mikevalstar/img/lead/1100x300/" + post.img_s3, class=post.img_retina ? "retina" : "")
        
        - if(post.content == ''){
            !=post.short
        - } else {
            !=post.content
        - }
        
        - if(post.ext_link != "")
            .ext_link Read more: 
                a(href=post.ext_link) #{post.ext_link}
                
    #disqus_identity bp_#{post.sid}
    #disqus_permalink
        a(href="http://mikevalstar.com/Blog/#{post.sid}/#{post.link_title}") http://mikevalstar.com/Blog/#{post.sid}/#{post.link_title}
    #disqus_thread
    
    script(type="text/javascript").
        var disqus_shortname = 'mikevalstar'; // required: replace example with your forum shortname
        disqus_identifier = $('#disqus_identity').html();
        disqus_url = $('#disqus_permalink a').attr('href');
        
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    
    noscript Please enable JavaScript to view the 
        a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
    a.dsq-brlink(href="http://disqus.com")blog comments powered by 
        span.logo-disqus Disqus